/* - portlets.css - */

.portletCalendar {
    width: 100%;
    margin: 1px 0 1em 0;
    width: 100%;
}
.portletCalendar dt {
    background-color: #4979c3;
    font-weight: bold;
    text-align: center;
    line-height: 1.6em;
    border-bottom: none;
    color: white;
}
.portletCalendar dd {
    margin: 0;
    padding: 0;
/*    border: none;*/
}
.portletCalendar a {
    text-decoration: none;
}
.portletCalendar a:hover {
    text-decoration: none;
}
.portletHeader #calendar-previous {
    color: white;
    float: left;
}
.portletHeader #calendar-next {
    color: white;
    float: right;
}
.ploneCalendar {
    border-collapse: collapse;
    border-spacing:0;
    width: 100%;
}
.ploneCalendar td {
    background-color: #ebebeb;
    width: 14%;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}
.ploneCalendar .weekdays th {
    background-color: #fff;
/*    border: 1px solid #8cacbb;*/
/*    border-style: solid none;*/
    text-align: center;
    padding: 2px;
    font-weight: normal;
    border-bottom: 0;
    padding-bottom: 0;
}
.ploneCalendar .event {
    background-color: #dee7ec;
    font-weight: bold;
}
.ploneCalendar .todayevent {
    background-color: #dee7ec;
    border: 2px solid #ffa500;
    font-weight: bold;
}
.ploneCalendar .todaynoevent {
/*    border-collapse: collapse;*/
/*    border: 2px solid #ffa500;*/
/*    background-color: #4979c3;*/
    border: none;
}

/* - navtree.css - */

.portletNavigationTree {
    border: 1px solid black;
}

.portletNavigationTree .portletHeader {
    display: none;
}

.lastItem {
    margin: 0;
    padding: 0;
    border: none;
}

.navTreeItem, .visualNoMarker {
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid black;
}

.navTreeFolderish {
    border-bottom: none;
}

.navTreeItem img, .visualNoMarker img, .navTreeFolderish img {
    display: none;
}

.navTreeItem span, .visualNoMarker span, .navTreeFolderish span {
    font-weight: bold;
    font-size: 1.2em;
    color: #92addc;
}

/* - public.css - */

#portal-siteactions li a {
    color: #4a7ac6;
}

#portal-personaltools {
    background-color: #fff;
    border-top: none;
    border-bottom: none;
}

#portal-breadcrumbs {
    border-bottom: none;
}

#portal-breadcrumbs a {
    color: #4a7ac6;
}

#portal-breadcrumbs span {
    color: #4a7ac6;
}

/* - forms.css - */

#searchGadget {
    background: url(++resource++gesac.theme.images/bgInputBusca.gif) no-repeat;
    border: none;
    width: 161px;
    height: 22px;
    padding: 3px 8px 0 20px;
}
