/* - portlets.css - */

.portletCalendar {
    width: 100%;
    margin: 1px 0 1em 0;
    width: 100%;
}
.portletCalendar dt {
    background-color: #4979c3;
    font-weight: bold;
    text-align: center;
    line-height: 1.6em;
    border-bottom: none;
    color: white;
}
.portletCalendar dd {
    margin: 0;
    padding: 0;
/*    border: none;*/
}
.portletCalendar a {
    text-decoration: none;
}
.portletCalendar a:hover {
    text-decoration: none;
}
.portletHeader #calendar-previous {
    color: white;
    float: left;
}
.portletHeader #calendar-next {
    color: white;
    float: right;
}
.ploneCalendar {
    border-collapse: collapse;
    border-spacing:0;
    width: 100%;
}
.ploneCalendar td {
    background-color: #ebebeb;
    width: 14%;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}
.ploneCalendar .weekdays th {
    background-color: #fff;
/*    border: 1px solid #8cacbb;*/
/*    border-style: solid none;*/
    text-align: center;
    padding: 2px;
    font-weight: normal;
    border-bottom: 0;
    padding-bottom: 0;
}
.ploneCalendar .event {
    background-color: #dee7ec;
    font-weight: bold;
}
.ploneCalendar .todayevent {
    background-color: #dee7ec;
    border: 2px solid #ffa500;
    font-weight: bold;
}
.ploneCalendar .todaynoevent {
/*    border-collapse: collapse;*/
/*    border: 2px solid #ffa500;*/
/*    background-color: #4979c3;*/
    border: none;
}

/* - navtree.css - */

.portletNavigationTree {
    border: 1px solid black;
    border-bottom: none;
}

.portletNavigationTree .portletHeader {
    display: none;
}

.lastItem {
    margin: 0;
    padding: 0;
    border: none;
}

.navTreeItem, .visualNoMarker {
    border-bottom: 1px solid black;
}

.navTreeItem img, .visualNoMarker img, .navTreeFolderish img {
    display: none;
}

.navTreeItem span, .visualNoMarker span, .navTreeFolderish span {
    font-weight: bold;
    font-size: 1.2em;
}

.portletItem ul li {
    margin: 0;
    padding: 0;
}

.navTreeItem a, dd.portletItem .navTreeItem a {
    padding: 15px 0px 15px 25px;
    color: #4979c3;
}

.navTreeItem a:hover, dd.portletItem .navTreeItem a:hover {
    background-color: #4979c3;
    color: white;
}

/* - public.css - */

#portal-logo img {
    margin: 2.5em 0 1em 5em;
}

#portal-siteactions li a {
    color: #4a7ac6;
}

#portal-personaltools {
    background-color: #fff;
    border-top: none;
    border-bottom: none;
}

#portal-breadcrumbs {
    border-bottom: none;
}

#portal-breadcrumbs a {
    color: #4a7ac6;
}

#portal-breadcrumbs span {
    color: #4a7ac6;
}

/* - forms.css - */

#searchGadget {
    background: url(++resource++gesac.theme.images/busca.jpg) no-repeat;
    border: none;
    width: 130px;
    height: 27px;
    padding: 5px 8px 0 30px;
}

/* - member.css - */

.state-private {
    color: #4979c3 !important;
}

.state-private:hover {
    color: #fff !important;
}

.state-visible {
    color: #4979c3 !important;
}

.state-visible:hover {
    color: #fff !important;
}

.state-published {
    color: #4979c3 !important;
}

.state-published:hover {
    color: #fff !important;
}

.state-pending {
    color: #4979c3 !important;
}

.state-pending:hover {
    color: #fff !important;
}

.state-expired {
    color: #4979c3 !important;
}

.state-expired:hover {
    color: #fff !important;
}

.syndicated {
    color: #4979c3 !important;
}

.syndicated:hover {
    color: #fff !important;
}

/* servicos_publicos.pt */

#servicos_publicos {
    margin-top: 40px;
}

#servicos_publicos #superior {
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
}

#servicos_publicos #superior span {
    font-size: 1.7em;
    font-weight: bold;
    color: gray;
}

#servicos_publicos #inferior {
    background-color: #4979c3;
    border: 1px solid gray;
    border-top: none;
    text-align: center;
}

#servicos_publicos #inferior span {
    color: #fff;
    font-weight: bold;
}

/* kit_sos_avaliacao.pt */

#kit_sos_avaliacao {
    border: 1px solid gray;
}

#kit_sos_avaliacao #kit_sos {
    background-color: #186b89;
    height: 30px;
    text-align: center;
    border-bottom: 1px solid gray;
}

#kit_sos_avaliacao #kit_sos span {
    font-weight: bold;
    font-size: 1.8em;
    color: #fff;
    line-height: 30px;
}

#kit_sos_avaliacao #caixa_kit_sos {
    height: 85px;
    text-align: center;
    margin-top: 15px;
}

#kit_sos_avaliacao #avaliacao {
    background-color: #f1a104;
    height: 30px;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#kit_sos_avaliacao #avaliacao a {
    text-decoration: none;
}

#kit_sos_avaliacao #avaliacao span {
    font-weight: bold;
    font-size: 1.8em;
    color: #fff;
    line-height: 30px;
}

#kit_sos_avaliacao #caixa_avaliacao {
    height: 80px;
    text-align: center;
    margin-top: 20px;
}
