.abaativa {
    font-family: verdana;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: uppercase;
    color: #057CC1;
    /*background-image: url(../imagens/telas/abaAtiva.png);*/
    background-color: #FFFFFF;
    width: 10%;
    height: 36px;
    text-align: center;    
    vertical-align: middle;    
    border-style: solid;
    border-width: 1px;
    border-color: #828282;
    border-bottom: 0px;
    -moz-border-radius-topright: 1.4em; 
    -moz-border-radius-topleft: 1.4em;
    padding: 10px;
    
    
}

.abainativa {
    font-family: verdana;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: uppercase;
    color: #828282;
    /*background-image: url(../imagens/telas/abaInativa.png);*/
    background-color: #DCDCDC;
    width: 10%;
    height: 36px;
    text-align: center;    
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: #828282;
    border-width: 1px;
    -moz-border-radius-topright: 1.4em; 
    -moz-border-radius-topleft: 1.4em;
    padding: 10px;
}

.estilo{
    width: 95%;
    border: 0;
    padding: 0; 
    border-spacing: 1;
}
.linhac{
    width: 0.7%;
    border-style: solid;
    border-width: 1px;
    border-color: #828282;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.linhap{
    width: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #828282;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.linhag{
    width: 15%;
    border-style: solid;
    border-width: 1px;
    border-color: #828282;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.bloco_noticias{
    display: block;    
}

/*.bloco_noticias table{
    border: 0px;
    width: 95%;
}*/

.bloco_encontros_oficinas{
    display: none;
}

/*.bloco_encontros_oficinas table{
    border: 0;
    width: 95%;
}*/

.estrutura{
    width: 95%;
    border-width: 1px;
    border-style: solid;
    border-color: #828282;
    border-top: 0px;
    -moz-border-radius-bottomright: 1.4em; 
    -moz-border-radius-bottomleft: 1.4em;
    
}
