.abaativa {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: uppercase;
    color: #057CC1;
    /*background-image: url(../imagens/telas/abaAtiva.png);*/
    background-color: #FFFFFF;
    width: 10%;
    height: 36px;
    text-align: center;    
    vertical-align: middle;    
    border-style: solid;
    border-width: 1px;
    border-color: #B8B8B8;
    border-bottom: 0px;
    -moz-border-radius-topright: 1.4em; 
    -moz-border-radius-topleft: 1.4em;
    padding: 10px;
    font: "MyriadPro-Bold";
/*    border-top: 1px solid;
    border-color: #828282;*/
    
    
}

.abainativa {
    font-size: 12px;
    font-style: normal;
    line-height: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: uppercase;
    color: #828282;
    /*background-image: url(../imagens/telas/abaInativa.png);*/
    background-color: #DCDCDC;
    width: 10%;
    height: 36px;
    text-align: center;    
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-color: #B8B8B8;
    border-width: 1px;
    -moz-border-radius-topright: 1.4em; 
    -moz-border-radius-topleft: 1.4em;
    padding: 10px;
    font: "MyriadPro-Bold";
/*    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #828282;*/
}

.estilo{
    width: 95%;
    border: 0;
    padding: 0; 
    border-spacing: 1;
}
.linhac{
    width: 0.7%;
    border-style: solid;
    border-width: 1px;
    border-color: #B8B8B8;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.linhap{
    width: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #B8B8B8;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.linhag{
    width: 15%;
    border-style: solid;
    border-width: 1px;
    border-color: #B8B8B8;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.bloco_noticias{
    display: block;    
}

/*.bloco_noticias table{
    border: 0px;
    width: 95%;
}*/

.bloco_encontros_oficinas{
    display: none;
}

/*.bloco_encontros_oficinas table{
    border: 0;
    width: 95%;
}*/

.estrutura{
    width: 95%;
    border-width: 1px;
    border-style: solid;
    border-color: #B8B8B8;
    border-top: 0px;
    border-bottom: 1px solid #B8B8B8;
   
}

.bottom_left img {
    margin-bottom:-3px;
    margin-left:-3px;
}

.bottom_right img {
    margin-bottom:-15px;
    margin-right:-2px;
}

.bottom_right {
   float:right;
}
