#menu-central{
margin-top:25px;
margin-bottom:25px;
height:140px;
}

.conteudo{
float:left;
position:relative;
text-align:center;
height:140px;
width:100px;
padding:0 21px 0;
}

#menu-central p {
font-size: 10px;
margin-bottom:10px;
}

#menu-central a {
background-image:url(++resource++gesac.theme.images/botoes.png);
background-position: -92px 0px;
background-repeat:no-repeat;
float:left;
height:82px;
position:relative;
width:100px;
}

#menu-central a:hover{
background-image:url(++resource++gesac.theme.images/botoes.png);
background-position: 10px 0px;
background-repeat:no-repeat;
float:left;
height:82px;
position:relative;
width:100px;
}

#menu-central img{
border: none;
}

#sala-de-aula-text{
padding-top: 10px;
padding-bottom:5px;
}

#rede-social-text{
padding-bottom:15px;
padding-top:15px;
}

#conheca-seu-pid-text{

}

#biblioteca-digital-text{
padding-top: 10px;
padding-bottom:5px;
}


#sala-de-aula{
margin-top:10px;
}

#rede-social{
margin-top:7px;
}

#conheca-seu-pid{
margin-top:16px;
margin-left:-3px;
}

#biblioteca-digital{
margin-top:19px;
margin-right:3px;
}

