/* Stylesheet for the 'GESAC Theme' Plone theme */

body {
    background-image: url(++resource++gesac.theme.images/fundo.gif);
}

#visual-portal-wrapper {
    margin: 0 auto 0 auto;
    width: 994px;
}

#portal-top {
    background-color: white;
}

#acessibilidade {
    float: right;
    clear: right;
    margin-right: 30px;
}

#acessibilidade span {
    color: #4a7ac6;
}

#acessibilidade li {
    display: inline;
    margin-left: 15px;
}

#acessibilidade li a:link {
    text-decoration: none;
}

#divHeaderBrasil {
	width:100%;
	float:left;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

#divHeaderBrasil ul {
	width:100%;
	float:left;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background:url(++resource++gesac.theme.images/bgDivHeaderBrasil.gif) repeat-x;
	border-bottom:4px solid #93ab93;
}

#divHeaderBrasil ul li {
	display:inline;
	float:left;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

#divHeaderBrasil ul li.logo {
	display:inline;
	float:left;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background:url(++resource++gesac.theme.images/imgDivHeaderBrasil.jpg) no-repeat;
	width:700px;
	height:35px;
}

#divHeaderBrasil ul li.brasil {
	display:inline;
	float:right;
	margin:0 0 0 0;
	padding:0 0 0 0;
	background:url(++resource++gesac.theme.images/imgBrasilPais.gif) no-repeat;
	width:120px;
	height:35px;
}

#divHeaderBrasil ul li img.comunicacoes{
	float:left;
	padding:0 0 0 44px;
}

#divHeaderBrasil ul li img {
	vertical-align:middle;
	margin:0 0 0 0;
	padding:0 0 0 0;
}

#divHeaderBrasil ul li.liRight {
	float:right;
	background:#085424;
}





#portal-columns {
    background-color: white;
}

#footer {
    width: 994px;
    height: 35px;
    margin: 0 auto;
    background-color: #017fbc;
}

#footer p {
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    padding-left: 10px;
    color: #fff;
    line-height: 35px;
}

#footer ul {
    float: right;
    width: 150px;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

#footer ul li {
	display: inline;
	float: left;
    padding-right: 15px;
}



#portal-searchbox .LSBox .rss {
    background:url(++resource++gesac.theme.images/rss.png) no-repeat;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: -9000px;
    margin-right: 40px;
}

#portal-searchbox .LSBox .searchButton {
    background:url(++resource++gesac.theme.images/ok.gif) no-repeat;
    width: 40px;
    height: 40px;
    border: none;
    text-indent:-9000px ;
}
